runs/
YoloV3/data/train/images/*
YoloV3/data/train/labels/*
YoloV3/data/test/*
YoloV3/output/*

!YoloV3/data/train/images/README.md
!YoloV3/data/train/labels/README.md
!YoloV3/data/test/README.md
!YoloV3/output/README.md

!YoloV3/data/train/images/img001.jpg
!YoloV3/data/train/images/img002.jpg
!YoloV3/data/train/images/img003.jpg
!YoloV3/data/train/images/img004.jpg
!YoloV3/data/train/images/img005.jpg
!YoloV3/data/train/images/img006.jpg
!YoloV3/data/train/images/img007.jpg
!YoloV3/data/train/images/img008.jpg
!YoloV3/data/train/images/img009.jpg
!YoloV3/data/train/images/img010.jpg

!YoloV3/data/train/labels/img001.txt
!YoloV3/data/train/labels/img002.txt
!YoloV3/data/train/labels/img003.txt
!YoloV3/data/train/labels/img004.txt
!YoloV3/data/train/labels/img005.txt
!YoloV3/data/train/labels/img006.txt
!YoloV3/data/train/labels/img007.txt
!YoloV3/data/train/labels/img008.txt
!YoloV3/data/train/labels/img009.txt
!YoloV3/data/train/labels/img010.txt

!YoloV3/data/test/img001.jpg
!YoloV3/data/test/img002.jpg
!YoloV3/data/test/img003.jpg
!YoloV3/data/test/img004.jpg
!YoloV3/data/test/img005.jpg
!YoloV3/data/test/img006.jpg
!YoloV3/data/test/img007.jpg
!YoloV3/data/test/img008.jpg
!YoloV3/data/test/img009.jpg
!YoloV3/data/test/img010.jpg

!YoloV3/output/img001.jpg
!YoloV3/output/img002.jpg
!YoloV3/output/img003.jpg
!YoloV3/output/img004.jpg
!YoloV3/output/img005.jpg
!YoloV3/output/img006.jpg
!YoloV3/output/img007.jpg
!YoloV3/output/img008.jpg
!YoloV3/output/img009.jpg
!YoloV3/output/img010.jpg